.card {
    width: 400px;
    height: 150px;
    background-color: white;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 25px;
    box-shadow: 0px 0px 5px 2px gray;

    &:hover {
        scale: 1.05;
        cursor: pointer;
    }
}

.img_container {
    width: 100px;
    height: 100px;

    border-radius: 20px;
    overflow: hidden;
}

.container_info {
    width: 250px;
    height: 100px;
    text-align: left;
}
.title {
    font-size: 25px;
    font-weight: 900;
}

.detail {
    margin-top: 20px;
    font-size: 15px;
    color: gray;
}