.header {
<<<<<<< HEAD
  background-color: '#snowwhite'; /* Change the background color to your desired color */
  color: '#000000';
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between; /* Add this line to align the content to the ends */
  align-items: center; /* Vertically center the content */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
=======
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 5px 2px black;
    position: relative;
    z-index: 20;
}

.container {    
    width: 1080px;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;

    .link {
        width: 150px;
        height: 50px;
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 10px;
        text-decoration-line: none;
        &:visited{
            color: black;
        }

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link_button {
        &:visited{
            color: black;
        }

        width: 150px;
        height: 50px;
        font-size: 20px;
        font-weight: 900;
        display: flex;
        align-items: end;
        justify-content: center;
        text-decoration-line: none;
    }

    .nav {
        height: 70px;
        display: flex;
        flex-direction: row;

        position: relative;

        > p {
            width: 150px;
            height: 50px;
            font-size: 20px;
            font-weight: 900;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
>>>>>>> 68f71553b6539994ff796e2c47a1d1f6462942f1
}

.link {
  text-decoration: none;
  font-size: 24px;
}

.nav {
  display: flex;
  align-items: center; /* Vertically center the content within the nav */
}

.nav p {
  margin: 0 10px;
}

/* Add margin to the buttons to separate them */
.nav Button {
  margin-right: 10px;
}