.wrapper{
  width: 100%;
  background-color: #EBF8FF;

  .container {
    width: 1080px;
    padding-bottom: 100px;
    margin: auto;
    background-color: white;

    .header {
      width: 1080px;
      height: 100px;

      padding-bottom: 10px;
      border-bottom: 1px solid black;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .title{
        font-size: 30px;
        font-weight: 900;
      }

      .detail {
        font-size: 20px;
      }
    }

    .container_input {
        width: 50%;
        margin: auto;
        margin-top: 55px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .label {
          width: 150px;
          height: 50px;
          font-size: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .container_row {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }
  }

}