.wrapper {
    width: 100%;
    background-color:#EBF8FF;

    .image_container {
        width: 100%;
        height: 350px;
        overflow: hidden;

        position: relative;
        > img {
            width: 100%;
            position:relative;
            bottom: 280px;
            object-fit: scale-down;
        }
    }
}

.container {
    width: 1080px;
    margin: auto;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .button {
        padding-top: 20px;
    }

    .card_container {
        width: 100%;
        
        .card_container_header {
            margin-top: 30px;
            width: 100%;
            height: 100px;

            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;

            .title {
                margin-left: 100px;
                font-size: 30px;
                font-weight: 900;
                color: rgb(219, 33, 33);
            }

            .detail {
                margin-left: 100px;
                font-size: 20px;
            }
        }
    }

    .content {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        place-items: center;
    }

    .button {
        margin-top: 10px;
    }
}

